<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Details</title>
</head>
<body>
    <h2>Information about <%= data.name %></h2>
</body>
</html>