<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit</title>
</head>
<body>
    
    <div class="container">
        <h2>What would you like the new name to be?</h2>
        <form action="/koala/edit/<%=data[0]._id%>" method="POST">
            <label for="newName">New Name: <input type="text" name="newName"></label>
            <input type="submit" value="Rename">
        </form>
    </div>
</body>
</html>