<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New</title>
</head>
<body>
    <div class="container">
        <h2>Add a new Koala:</h2>
        <form action="/koala/new" method="POST">
            <label for="name">Name: <input type="text" name="name"></label>
            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>